ul {
    
    list-style-type: none; /* Убираем стандартные маркеры для элементов списка */
    padding: 0; /* Убираем внутренний отступ для элементов списка */
    text-decoration: none;
}

li {
    word-wrap: break-word; /* Разрешаем перенос слов, если они не умещаются в одну строку */
    border: 1px solid #ccc; /* Добавляем рамку для наглядности */
    margin: 5px; /* Добавляем небольшие отступы между элементами списка */
}